

<mat-toolbar color="primary" id="menu-admin">
    <mat-toolbar-row>
      <button mat-icon-button id="yellow-btn">
        <mat-icon [class.active]="toggleActive" (click)="toggleRightSidenav()">menu</mat-icon>
      </button>
      
      <span class="menu-spacer"></span>
      <div>
        <a mat-raised-button href="http://localhost:4200/" color="accent" id="btn-jaune"> Revenir vers le site </a>
        <a mat-button [routerLink]="'modifier-accueil/modifier-slider'"> Modifier Accueil </a>
        <a mat-button [routerLink]="'modifier-qui-sommes-nous'"> Modifier Qui Sommes Nous? </a>
        <a mat-button [routerLink]="'modifier-produits-et-services'"> Modifier Produits & Services </a>
      </div>
        <span id="separation-menu"></span>
      <div>
        <a mat-button [routerLink]="'/'"> Compte </a>
        <a mat-button [routerLink]="'/'"> Déconnexion </a>
      </div>
    </mat-toolbar-row>
</mat-toolbar>


