    <!-- desktop -->
    <div class="container" *ngIf="size == 3">
    
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 text-center">
                <ngx-loading-bar></ngx-loading-bar>
                <youtube-player [videoId]="link"
                suggestedQuality="highres"
                [height]="600"
                [width]="1080"
                [startSeconds]="0"
                (ready)="loader.complete()"></youtube-player>
            </div>
        </div>
    
    </div>
    <!-- end of desktop -->
    <!-- tablette -->
    <div class="container" *ngIf="size == 2 || size == 1">
    
        <div class="row">
            <div class="col-md-9 col-sm-12 col-lg-12">
                <ngx-loading-bar></ngx-loading-bar>
                <youtube-player [videoId]="link"
                suggestedQuality="highres"
                [height]="400"
                [width]="550"
                [startSeconds]="0"
                (ready)="loader.complete()"></youtube-player>
            </div>
        </div>
    
    </div>
    <!-- end of tablette -->
    <!-- mobile -->
    <div class="container" *ngIf="size == 0">
    
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 text-center">
                <ngx-loading-bar></ngx-loading-bar>
                <youtube-player [videoId]="link"
                suggestedQuality="highres"
                [height]="150"
                [width]="220"
                [startSeconds]="0"
                (ready)="loader.complete()"></youtube-player>
            </div>
        </div>
    
    </div>
    <!-- end of mobile -->
    


<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Fermer</button>
</mat-dialog-actions>