mat-selection-list, table, mat-paginator{
    width: 90%;
    margin: auto;
    background: white;
}

mat-list-option{
    padding-left: 20px !important;
}

button, .mat-form-field{
    margin-left: 5.5% !important;
}
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }

  
  

  

  /*.selectionne{
    background-color: lightgrey !important;
  }
  
  .mat-row:hover{
    background-color: rgb(245, 245, 245);
  }*/

  .hideBG{
    background: inherit;
  }

/deep/ button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: transparent;
}