<!-- Page Title -->
		<section class="breadcrumb-wrap" style="overflow: visible; margin-top: 65px;" [ngStyle]="{'background-image': 'url(' + formatImagePath(currentCategory.entete) + ')'}">
			<div class="container">
				<div class="row">
					<h1 id="NosProduits">{{currentCategory.titre.toUpperCase()}} </h1>
					<ul class="breadcrumb">
						<li><a [routerLink]="['/']">Accueil</a></li>
						<li><a [routerLink]="['/produits-et-services']">Produits</a></li>
						
						<li *ngIf="currentCategory.parent!= 'none'"><a [routerLink]="['/produits-et-services', 'categories', setPath(currentCategory.etiquette1), setPath(currentCategory.etiquette2), setPath(currentCategory.parent)]">{{currentCategory.parent}}</a></li>
						<li class="last">{{currentCategory.titre}} </li>
					</ul>
				</div>
			</div>
		</section>





		<!-- tabs de produit -->
		<!-- Portfolio -->
		<section class="page-portfolio section-portfolio style3 prods">
			<div class="container">
				<div class="row">
					<div class="filter-wrap col-sm-8 col-xs-12">
						<div class="filter-wrap col-sm-8 col-xs-12">
							<ul class="filter horizontal" data-filter-group="con2">
								<!-- classiqe + islamique -->
								<li id="classique"><a id="Classique" [ngClass]="{'selectionne': tabIndex === 0, 'filter-button': true, 'filtre1': true}" (click)="onTabClick(0)"  data-filter="Classique" 
														style="background: #D2AA3C url(../../assets/images/common/classique.png) 13px 7px no-repeat;
																padding-left: 53px; padding-top: 12px; padding-bottom: 12px;">Classique</a></li>
								<li id="islamique"><a id="Participatif" [ngClass]="{'selectionne': tabIndex === 1, 'filter-button': true, 'filtre1': true}" (click)="onTabClick(1)" data-filter="Participatif" style="color: #FFF;
									background: #5A963C url(../../assets/images/common/mosque.png) 13px 4px no-repeat;
									padding-left: 53px; padding-top: 12px; padding-bottom: 12px;">Participatif</a></li>
							</ul>
						</div>
						<div class="filter-wrap col-sm-8 col-xs-12">
		
							<ul class="filter horizontal" data-filter-group="con1">
								<li id="part"><a [ngClass]="{'selectionne': tabIndex2 === 0, 'filter-button2': true, 'filtre2': true}" (click)="onTabClick2(0)" data-filter="Particulier" id="Particulier">Particulier</a></li>
								<li id="prof"><a [ngClass]="{'selectionne': tabIndex2 === 1, 'filter-button2': true, 'filtre2': true}" (click)="onTabClick2(1)" data-filter="Professionnel" id="Professionnel">Professionnel</a></li>
								<li id="entrep"><a [ngClass]="{'selectionne': tabIndex2 === 2, 'filter-button2': true, 'filtre2': true}" (click)="onTabClick2(2)" data-filter="Entreprise" id="Entreprise">Entreprise</a></li>
							</ul>
		
						</div>
					</div>
		
					<br>

					<div class="portfolio3 popup-gallery mgb50 col-sm-12 col-xs-12">
						<div class="col-md-12">
							<!-- sous-categories -->
							<div *ngFor="let category of sousCategories" [ngClass]="['item', 'filterNg', category.etiquette2, category.etiquette1]">
								<article class="feature">
		
									<p class="image"><a><img [src]="formatImagePath(category.miniature)" alt="{{category.titre}}"></a></p>
									<div class="intro" >
										<ul>
											<br>
											<ng-container *ngFor="let child of setChildren(category.children)">
												
												
													<a *ngIf="child!=''" title="{{child}}" [routerLink]="['/produits-et-services', 'categories', setPath(category.etiquette1), setPath(category.etiquette2), setPath(child)]" data-toggle="tooltip" data-placement="top" id="produit">{{child}}</a>
													<div class="brLine" *ngIf="child != ''"></div>
											</ng-container>
											
											<ng-container *ngFor="let produit of setChildren(category.produits)">
												
												
													<a *ngIf="produit != '' && produit" title="{{produit}}" [routerLink]="['/produits-et-services', 'produits', setPath(category.etiquette1), setPath(category.etiquette2), setPath(produit)]" data-toggle="tooltip" data-placement="top" id="produit">{{produit}}</a>
													<div class="brLine" *ngIf="produit != ''"></div>
											</ng-container>
											
											
										</ul>
										<h3 style="pointer-events: unset;" ><a [routerLink]="['/produits-et-services', 'categories', setPath(category.etiquette1), setPath(category.etiquette2), setPath(category.parent), setPath(category.titre)]">{{ category.titre }}</a></h3>
									</div>
									
								</article>
							</div>
							<!-- produits -->
							<div *ngFor="let produit of productsUsed" [ngClass]="['item', 'filterNg', produit.etiquette1, produit.etiquette1]">
								<article class="feature">
		
									<p class="image"><a><img [src]="formatImagePath(produit.miniature)" alt="{{produit.titre}}"></a></p>
									<div class="intro" >
										<h3 style="pointer-events: unset;" ><a [routerLink]="['/produits-et-services', 'produits', setPath(produit.etiquette1), setPath(produit.etiquette2), setPath(produit.titre)]"
											[queryParams]="{titre: produit.titre, etiq1: produit.etiquette1, etiq2: produit.etiquette2}">{{ produit.titre }}</a></h3>
									</div>
									
								</article>
							</div>
						</div>
						</div>
					</div>
				</div>
			</section>








			<!-- taux de change -->
		<a class='button taux' href='https://mobileapp.agb.dz/#/public/taux-change' target="popup"  onclick="window.open('https://mobileapp.agb.dz/#/public/taux-change' ); return false;"> <i class="glyphicon glyphicon-plus outils"></i> Taux de change</a>
			<div class='wrap'>
				<div class='content'>
					<h2>Taux de change!</h2>
					<table class="table">
						<tr>
							<td></td>
							<td></td>
							<td>Achat</td>
							<td>Vente</td>
						</tr>
						<tr>
							<td><img src="../images/common/flags/eur-.png"></td>
							<td>EUR</td>
							<td>119.45</td>
							<td>126.79</td>
						</tr>
						<tr>
							<td><img src="../images/common/flags/usd-.png"></td>
							<td>USD</td>
							<td>106.45</td>
							<td>113.49</td>
						</tr>
						<tr>
							<td><img src="../images/common/flags/jpy-.png"></td>
							<td>JPY</td>
							<td>119.45</td>
							<td>126.79</td>
						</tr>
						<tr>
							<td><img src="../images/common/flags/gbp-.png"></td>
							<td>GBP</td>
							<td>119.45</td>
							<td>126.79</td>
						</tr>
						<tr>
							<td><img src="../images/common/flags/chf-.png"></td>
							<td>CHF</td>
							<td>119.45</td>
							<td>126.79</td>
						</tr>
						<tr>
							<td><img src="../images/common/flags/cad-.png"></td>
							<td>CAD</td>
							<td>119.45</td>
							<td>126.79</td>
						</tr>
						<tr>
							<td><img src="../images/common/flags/aed-.png"></td>
							<td>AED</td>
							<td>24.45</td>
							<td>126.79</td>
						</tr>
						<tr>
							<td><img src="../images/common/flags/kwd-.png"></td>
							<td>KWD</td>
							<td>119.45</td>
							<td>126.79</td>
						</tr>
						<tr>
							<td><img src="../images/common/flags/sar-.png"></td>
							<td>SAR</td>
							<td>119.45</td>
							<td>126.79</td>
						</tr>
						<tr>
							<td><img src="../images/common/flags/sek-.png"></td>
							<td>SEK</td>
							<td>119.45</td>
							<td>126.79</td>
						</tr>

					</table>
				</div>
			</div>
		
		<!-- <a class='button taux' href='https://dibvomchmfuat1.agb.corp:9443/mfp/AGBWebApp#/public/taux-change' target="popup"  onclick="window.open('https://dibvomchmfuat1.agb.corp:9443/mfp/AGBWebApp#/public/taux-change','popup','width=650,height=740, left=350, resizable=0' ); return false;"> <i class="glyphicon glyphicon-plus outils"></i> Taux de change</a> -->														    


		<div class="wrap2 container">
			<div class="content sim-tabs">


				<!-- tabs -->
				<div>

					<!-- Nav tabs -->
					<ul class="nav nav-pills justify-content-center tabs-buttons" role="tablist"> 
						<li role="presentation" class="nav-item active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="nav-link nav-link-offres" data-target="tab-immobilier"><i class="material-icons">home</i></a>Crédit immobilier</li>
						<li role="presentation" class="nav-item"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="nav-link nav-link-offres" data-target="tab-sayarati"><i class="material-icons">directions_car</i></a>Crédit Sayarati</li>
						<li role="presentation" class="nav-item"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="nav-link nav-link-offres" data-target="tab-teshilat"><i class="material-icons">weekend</i></a>Crédit Teshilat</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">


						<div role="tabpanel" class="tab-pane" id="tab-immobilier">


							<div class="col-sm-8 sim-form">
								<!-- multistep form -->
								<form id="msform">
									<!-- progressbar -->
									<ul id="progressbar">
										<li class="active">Situation de l’emprunteur</li>
										<li>Informations personnelles</li>
										<li>Informations sur le bien</li>
									</ul>
									<!-- fieldsets -->
									<fieldset>
										<div class="col-sm-4 text-left">Type</div>
										<div class="col-sm-4 text-left">
											<div class="radio">
												<label><input type="radio" name="type"> Immobilier bonifie</label>
												<label><input type="radio" name="type"> Immobilier classique</label>
											</div>
										</div>
										<div class="col-sm-4 text-left">
											<div class="checkbox">
												<label><input type="checkbox" name="conjoint"> Conjoint inclu</label>
											</div>
										</div>

										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Revenu mensuel (DZD)</label>
												<input type="text" class="form-control" id="revenu" placeholder="Revenu mensuel (DZD)">
											</div>
										</div>

										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Date de naissance</label>
												<input type='date' class="form-control" id="age" data-placeholder="Age"  />

											</div>
										</div>


										<div class="range slidecontainer col-sm-12 text-left">
											<label>Durée (Années)</label>
											<input type="range" min="0" max="50" value="25" class="slider" id="annee" name="annee">
											<p><span id="demo"></span> Années</p>
										</div>







										<input type="button" name="next" class="next action-button btn-block" value="Next" />
										<br class="clearfix">
									</fieldset>



									<fieldset>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Nom</label>
												<input type="text" class="form-control" id="nom" >
											</div>
										</div>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Prénom</label>
												<input type="text" class="form-control" id="prenom" >
											</div>
										</div>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Numéro de téléphone</label>
												<input type="text" class="form-control" id="telephone" >
											</div>
										</div>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Email</label>
												<input type="email" class="form-control" id="email" >
											</div>
										</div>

										<div class="col-sm-4 text-left">
											Résidence
										</div>

										<div class="col-sm-4 text-left">
											<div class="form-group">
												<label>Wilaya</label>
												<select class="form-control" id="wilaya">
													<option>Adrar</option>
													<option>Chilef</option>
													<option>Laghouat</option>
													<option>Oum-elbouagui</option>
												</select>
											</div>
										</div>
										<div class="col-sm-4 text-left">
											<div class="form-group">
												<label>Commune</label>
												<select class="form-control" id="commune">
													<option>Adrar</option>
													<option>Chilef</option>
													<option>Laghouat</option>
													<option>Oum-elbouagui</option>
												</select>
											</div>
										</div>







										<input type="button" name="next" class="next action-button btn-block" value="Next" />
										<br class="clearfix">
									</fieldset>

									<fieldset>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Prix du bien (DZD)</label>
												<input type="text" class="form-control" id="bien" >
											</div>
										</div>

										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Apport personnel (DZD)</label>
												<input type='date' class="form-control" id="apport"  />

											</div>
										</div>

										<div class="range slidecontainer col-sm-12 text-left">
											<label>TAEG</label>
											<input type="range" min="0" max="100" value="50" class="slider" id="taeg">
											<p><span id="demo2"></span> %</p>
										</div>







										<input type="submit" name="submit" class="submit action-button" value="Submit" />
										<br class="clearfix">
									</fieldset>


								</form>
							</div>
							<div class="col-sm-4 sim-result">
								<h3>Résultats</h3>
								<div class="result-b">
									<h5>Mensualité maximale su crédit</h5>
									<h4>---,---,-- DZD</h4>
									<h5>Montant maximale su crédit</h5>
									<h4>---,---,-- DZD</h4>
									<h5>Durée (Mois)</h5>
									<h4>-- Mois</h4>
								</div>

								<div class="result-b result-c">
									<h5>Quotité de financement <span class="text-right">-- %</span></h5>
									<h5>Assurance ADE Immo <span class="text-right">---,---,-- DZD</span></h5>
									<h5>Assurance MRH <span class="text-right">---,---,-- DZD</span></h5>
								</div>

								<div class="result-b result-c">
									<h5>Montant de crédit <span class="text-right">---,---,-- DZD</span></h5>
									<h5>Mensualités <span class="text-right">---,---,-- DZD</span></h5>
								</div>


							</div>

						</div>


						<div role="tabpanel" class="tab-pane" id="tab-sayarati">
							<div class="col-sm-8 sim-form">
								<!-- multistep form -->
								<form id="msform">
									<!-- progressbar -->
									<ul id="progressbar">
										<li class="active">Situation de l’emprunteur</li>
										<li>Informations personnelles</li>
										<li>Informations sur le bien</li>
									</ul>
									<!-- fieldsets -->
									<fieldset>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Revenu mensuel (DZD)</label>
												<input type="text" class="form-control" id="sayaratiRevenu" placeholder="Revenu mensuel (DZD)">
											</div>
										</div>

										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Date de naissance</label>
												<input type='date' class="form-control" id="sayaratiAge" data-placeholder="Age"  />

											</div>
										</div>


										<div class="range slidecontainer col-sm-12 text-left">
											<label>Durée (Années)</label>
											<input type="range" min="0" max="50" value="25" class="slider" id="sayaratiAnnee" name="annee">
											<p><span id="sayaratiDemo"></span> Années</p>
										</div>







										<input type="button" name="next" class="next action-button btn-block" value="Next" />
										<br class="clearfix">
									</fieldset>



									<fieldset>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Nom</label>
												<input type="text" class="form-control" id="sayaratiNom" >
											</div>
										</div>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Prénom</label>
												<input type="text" class="form-control" id="sayaratiPrenom" >
											</div>
										</div>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Numéro de téléphone</label>
												<input type="text" class="form-control" id="sayaratiTelephone" >
											</div>
										</div>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Email</label>
												<input type="email" class="form-control" id="sayaratiEmail" >
											</div>
										</div>

										<div class="col-sm-4 text-left">
											Résidence
										</div>

										<div class="col-sm-4 text-left">
											<div class="form-group">
												<label>Wilaya</label>
												<select class="form-control" id="sayaratiWilaya">
													<option>Adrar</option>
													<option>Chilef</option>
													<option>Laghouat</option>
													<option>Oum-elbouagui</option>
												</select>
											</div>
										</div>
										<div class="col-sm-4 text-left">
											<div class="form-group">
												<label>Commune</label>
												<select class="form-control" id="sayaratiCommune">
													<option>Adrar</option>
													<option>Chilef</option>
													<option>Laghouat</option>
													<option>Oum-elbouagui</option>
												</select>
											</div>
										</div>







										<input type="button" name="next" class="next action-button btn-block" value="Next" />
										<br class="clearfix">
									</fieldset>

									<fieldset>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Prix du bien (DZD)</label>
												<input type="text" class="form-control" id="sayaratiBien" >
											</div>
										</div>

										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Apport personnel (DZD)</label>
												<input type='date' class="form-control" id="sayaratiBpport"  />

											</div>
										</div>

										<div class="range slidecontainer col-sm-12 text-left">
											<label>TAEG</label>
											<input type="range" min="0" max="100" value="50" class="slider" id="sayaratiTaeg">
											<p><span id="sayaratiDemo2"></span> %</p>
										</div>







										<input type="submit" name="submit" class="submit action-button" value="Submit" />
										<br class="clearfix">
									</fieldset>


								</form>
							</div>
							<div class="col-sm-4 sim-result">
								<h3>Résultats</h3>
								<div class="result-b">
									<h5>Mensualité maximale su crédit</h5>
									<h4>---,---,-- DZD</h4>
									<h5>Montant maximale su crédit</h5>
									<h4>---,---,-- DZD</h4>
									<h5>Durée (Mois)</h5>
									<h4>-- Mois</h4>
								</div>

								<div class="result-b result-c">
									<h5>Quotité de financement <span class="text-right">-- %</span></h5>
									<h5>Assurance ADE CONSO <span class="text-right">---,---,-- DZD</span></h5>

								</div>

								<div class="result-b result-c">
									<h5>Montant de crédit <span class="text-right">---,---,-- DZD</span></h5>
									<h5>Mensualités <span class="text-right">---,---,-- DZD</span></h5>
								</div>


							</div>
						</div>


						<div role="tabpanel" class="tab-pane" id="tab-teshilat">
							<div class="col-sm-8 sim-form">
								<!-- multistep form -->
								<form id="msform">
									<!-- progressbar -->
									<ul id="progressbar">
										<li class="active">Situation de l’emprunteur</li>
										<li>Informations personnelles</li>
										<li>Informations sur le bien</li>
									</ul>
									<!-- fieldsets -->
									<fieldset>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Revenu mensuel (DZD)</label>
												<input type="text" class="form-control" id="teshilatRevenu" placeholder="Revenu mensuel (DZD)">
											</div>
										</div>

										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Date de naissance</label>
												<input type='date' class="form-control" id="teshilatAge" data-placeholder="Age"  />

											</div>
										</div>


										<div class="range slidecontainer col-sm-12 text-left">
											<label>Durée (Années)</label>
											<input type="range" min="0" max="50" value="25" class="slider" id="teshilatAnnee" name="annee">
											<p><span id="teshilatDemo"></span> Années</p>
										</div>







										<input type="button" name="next" class="next action-button btn-block" value="Next" />
										<br class="clearfix">
									</fieldset>



									<fieldset>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Nom</label>
												<input type="text" class="form-control" id="teshilatNom" >
											</div>
										</div>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Prénom</label>
												<input type="text" class="form-control" id="teshilatPrenom" >
											</div>
										</div>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Numéro de téléphone</label>
												<input type="text" class="form-control" id="teshilatTelephone" >
											</div>
										</div>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Email</label>
												<input type="email" class="form-control" id="teshilatEmail" >
											</div>
										</div>

										<div class="col-sm-4 text-left">
											Résidence
										</div>

										<div class="col-sm-4 text-left">
											<div class="form-group">
												<label>Wilaya</label>
												<select class="form-control" id="teshilatWilaya">
													<option>Adrar</option>
													<option>Chilef</option>
													<option>Laghouat</option>
													<option>Oum-elbouagui</option>
												</select>
											</div>
										</div>
										<div class="col-sm-4 text-left">
											<div class="form-group">
												<label>Commune</label>
												<select class="form-control" id="teshilatCommune">
													<option>Adrar</option>
													<option>Chilef</option>
													<option>Laghouat</option>
													<option>Oum-elbouagui</option>
												</select>
											</div>
										</div>







										<input type="button" name="next" class="next action-button btn-block" value="Next" />
										<br class="clearfix">
									</fieldset>

									<fieldset>
										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Prix du bien (DZD)</label>
												<input type="text" class="form-control" id="teshilatBien" >
											</div>
										</div>

										<div class="col-sm-6 text-left">
											<div class="form-group">
												<label>Apport personnel (DZD)</label>
												<input type='date' class="form-control" id="teshilatBpport"  />

											</div>
										</div>

										<div class="range slidecontainer col-sm-12 text-left">
											<label>TAEG</label>
											<input type="range" min="0" max="100" value="50" class="slider" id="teshilatTaeg">
											<p><span id="teshilatDemo2"></span> %</p>
										</div>







										<input type="submit" name="submit" class="submit action-button" value="Submit" />
										<br class="clearfix">
									</fieldset>


								</form>
							</div>
							<div class="col-sm-4 sim-result">
								<h3>Résultats</h3>
								<div class="result-b">
									<h5>Mensualité maximale su crédit</h5>
									<h4>---,---,-- DZD</h4>
									<h5>Montant maximale su crédit</h5>
									<h4>---,---,-- DZD</h4>
									<h5>Durée (Mois)</h5>
									<h4>-- Mois</h4>
								</div>

								<div class="result-b result-c">
									<h5>Quotité de financement <span class="text-right">-- %</span></h5>
									<h5>Assurance ADE CONSO <span class="text-right">---,---,-- DZD</span></h5>

								</div>

								<div class="result-b result-c">
									<h5>Montant de crédit <span class="text-right">---,---,-- DZD</span></h5>
									<h5>Mensualités <span class="text-right">---,---,-- DZD</span></h5>
								</div>


							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
		<!--<a class='button outils' href='https://dibvomchmfuat1.agb.corp:9443/mfp/AGBWebApp#/public/simulateur-credit' target="popup"  onclick="window.open('https://dibvomchmfuat1.agb.corp:9443/mfp/AGBWebApp#/public/simulateur-credit','popup','width=650,height=740, left=350, resizable=0' ); return false;"> <i class="glyphicon glyphicon-plus outils"></i> Simulateur AGB </a> -->														    
		<section class="more-info">

		</section>
