
    
    <app-slider></app-slider>

    <section class="bank-en-ligne more-info">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <div class="text">
                        <marquee scrollamount="7" scrolldelay="0" direction="Left" onmouseover="this.stop()" onmouseout="this.start()">
                            <h3>Vous pouvez vous connecter et gérer vos comptes et vos opérations  à partir de chez vous. </h3>
                        </marquee>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="subscribe">
                        <p class="btn-cons btn-cons2"><a href="https://mobileapp.agb.dz/#/public/authentication/login"><i class="ion-android-globe"></i> AGB online</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<app-produits-et-services></app-produits-et-services>
