<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 100px;">
            
                <div class="form-group">
                    <mat-form-field>
                        <ngx-mat-file-input placeholder="Chargez des images" name="image" (change)="fileProgress($event)" [accept]="'.jpg, .png, .jpeg'" multiple></ngx-mat-file-input>
                        <mat-icon matSuffix>folder</mat-icon>
                      </mat-form-field>
                    <!--<input type="file" name="image" (change)="fileProgress($event)"  multiple />-->
                </div>
                <div *ngIf="fileUploadProgress">
                    Upload progress: {{ fileUploadProgress }}
                </div>
                 
                <div class="form-group">
                    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="fileData == null">Envoyer</button>
                </div>
                    
            
        </div>
        
            <div class="col-md-9" *ngIf="images.length > 0">
                <div>
                    <mat-grid-list cols="4" rowHeight="2:1">
                        <mat-grid-tile *ngFor="let image of (images | 
                         slice: lowValue : highValue)"><img [src]="ImagePath(image.imagePath)"></mat-grid-tile>
                    </mat-grid-list>
                </div>               
                    
                    <mat-paginator [length]="images.length"
                        [pageSize]="12"
                        showFirstLastButtons="true"  
                        (page)="getPaginatorData($event)">
                    </mat-paginator>
            </div>
     
        
        
    </div>
</div>