mat-selection-list, table, mat-paginator{
    width: 90%;
    margin: auto;
    background: white;
}

mat-list-option{
    padding-left: 20px !important;
}

button, .mat-form-field{
    margin-left: 5.5% !important;
}
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }

  
  td, th {
    width: 25%;
  }
  