<!-- start Portfolio -->
<br>
<br><br><br><br>
    <section id="NosProduits" class="page-portfolio section-portfolio style3 prods">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="title center">Nos Produits</h2>
                </div>
    
            <!--<div align="center">
                <button class="btn btn-default filter-button" data-filter="all">All</button>
                <button class="btn btn-default filter-button" data-filter="hdpe">HDPE Pipes</button>
                <button class="btn btn-default filter-button" data-filter="sprinkle">Sprinkle Pipes</button>
                <button class="btn btn-default filter-button" data-filter="spray">Spray Nozzle</button>
                <button class="btn btn-default filter-button" data-filter="irrigation">Irrigation Pipes</button>
            </div>-->

            <div class="filter-wrap col-sm-8 col-xs-12">
                <div class="filter-wrap col-sm-8 col-xs-12">
                    <ul class="filter horizontal" data-filter-group="con2">
                        <!-- classiqe + islamique -->
                        <li id="classique"><a id="Classique" [ngClass]="{'selectionne': tabIndex === 0, 'filter-button': true, 'filtre1': true}" (click)="onTabClick(0)"  data-filter="Classique" 
                                                style="background: #D2AA3C url(../../assets/images/common/classique.png) 13px 7px no-repeat;
                                                        padding-left: 53px; padding-top: 12px; padding-bottom: 12px;">Classique</a></li>
                        <li id="islamique"><a id="Participatif" [ngClass]="{'selectionne': tabIndex === 1, 'filter-button': true, 'filtre1': true}" (click)="onTabClick(1)" data-filter="Participatif" style="color: #FFF;
                            background: #5A963C url(../../assets/images/common/mosque.png) 13px 4px no-repeat;
                            padding-left: 53px; padding-top: 12px; padding-bottom: 12px;">Participatif</a></li>
                    </ul>
                </div>
                <div class="filter-wrap col-sm-8 col-xs-12">

                    <ul class="filter horizontal" data-filter-group="con1">
                        <li id="part"><a [ngClass]="{'selectionne': tabIndex2 === 0, 'filter-button2': true, 'filtre2': true}" (click)="onTabClick2(0)" data-filter="Particulier" id="Particulier">Particulier</a></li>
                        <li id="prof"><a [ngClass]="{'selectionne': tabIndex2 === 1, 'filter-button2': true, 'filtre2': true}" (click)="onTabClick2(1)" data-filter="Professionnel" id="Professionnel">Professionnel</a></li>
                        <li id="entrep"><a [ngClass]="{'selectionne': tabIndex2 === 2, 'filter-button2': true, 'filtre2': true}" (click)="onTabClick2(2)" data-filter="Entreprise" id="Entreprise">Entreprise</a></li>
                    </ul>

                </div>
            </div>

            <br>
            
            <div class="portfolio popup-gallery mgb50 col-sm-12 col-xs-12">
                <div class="col-md-12">
                    <div *ngFor="let category of allCategories" [ngClass]="['item', 'filterNg', category.etiquette2, category.etiquette1]">
                        <article class="feature">

                            <p class="image"><a href="categorie/comptes.html"><img [src]="formatImagePath(category.miniature)" alt="{{category.titre}}"></a></p>
                            <div class="intro" >
                                <ul>

                                    <span *ngFor="let child of setChildren(category.children)">
                                        <a title="{{child}}" href="{{setChildLink(child, category.etiquette1, category.etiquette2)}}" data-toggle="tooltip" data-placement="top" id="produit">{{child}}</a>
                                        <br>
                                    </span>
                                    <span *ngFor="let produit of setChildren(category.produits)">
                                        <a title="{{produit}}" href="{{setChildLink(produit, category.etiquette1, category.etiquette2)}}" data-toggle="tooltip" data-placement="top" id="produit">{{produit}}</a>
                                        <br>
                                    </span>
                                    
                                </ul>
                                <h3 style="pointer-events: unset;" ><a href="categorie/comptes.html">{{ category.titre }}</a></h3>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
    
    
                <!--<div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>-->
            </div>
        </div>
    
    
    </section>
<br><br><br><br>
<!-- end Portfolio -->