<!-- start Portfolio -->
<br>
<br><br><br><br>
    <section id="NosProduits" class="page-portfolio section-portfolio style3 prods">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="title center">Nos Produits</h2>
                </div>
    
            <!--<div align="center">
                <button class="btn btn-default filter-button" data-filter="all">All</button>
                <button class="btn btn-default filter-button" data-filter="hdpe">HDPE Pipes</button>
                <button class="btn btn-default filter-button" data-filter="sprinkle">Sprinkle Pipes</button>
                <button class="btn btn-default filter-button" data-filter="spray">Spray Nozzle</button>
                <button class="btn btn-default filter-button" data-filter="irrigation">Irrigation Pipes</button>
            </div>-->

            <div class="filter-wrap col-sm-8 col-xs-12">
                <div class="filter-wrap col-sm-8 col-xs-12">
                    <ul class="filter horizontal" data-filter-group="con2">
                        <!-- classiqe + islamique -->
                        <li id="classique"><a (click)="filterSlected()" [ngClass]="['filter-button', filterSlected()]"  data-filter="Classique" 
                                                style="background: #D2AA3C url(../../assets/images/common/classique.png) 13px 7px no-repeat;
                                                        padding-left: 53px; padding-top: 12px; padding-bottom: 12px;">Classique</a></li>
                        <li id="islamique"><a [ngClass]="['filter-button', filterSlected()]" data-filter="Participatif" style="color: #FFF;
                            background: #5A963C url(../../assets/images/common/mosque.png) 13px 4px no-repeat;
                            padding-left: 53px; padding-top: 12px; padding-bottom: 12px;">Participatif</a></li>
                    </ul>
                </div>
                <div class="filter-wrap col-sm-8 col-xs-12">

                    <ul class="filter horizontal" data-filter-group="con1">
                        <li id="part"><a class="filter-button" data-filter="Particulier">Particulier</a></li>
                        <li id="prof"><a class="filter-button" data-filter="Professionnel">Professionnel</a></li>
                        <li id="entrep"><a class="filter-button" data-filter="Entreprise">Entreprise</a></li>
                    </ul>

                </div>
            </div>

            <br>
            
            <div class="portfolio popup-gallery mgb50 col-sm-12 col-xs-12">
                <div class="col-md-12">
                    <div *ngFor="let category of allCategories" [ngClass]="['item', 'filterNg', category.etiquette2, category.etiquette1]">
                        <article class="feature">
                            <p class="image"><a href="categorie/comptes.html"><img [src]="formatImagePath(category.miniature)" alt="{{category.titre}}"></a></p>
                            <div class="intro" >
                                <ul>

                                    <a title="Chèque" href="produits/particuliers-classique-compte-cheque.html" data-original-title="Chèque" data-toggle="tooltip" data-placement="top" id="produit">Chèque</a>
                                    <br/>
                                    <a title="Devise" href="produits/particuliers-classique-compte-devise.html" data-original-title="Devise" data-toggle="tooltip" data-placement="top" id="produit">Devises</a>
                                    <br/>
                                    <a title="Livret Epargne Classique" href="produits/particuliers-classique-compte-epargne.html" data-original-title="Livret Epargne Classique" data-toggle="tooltip" data-placement="top" id="produit">Livret epargne</a>
                                    <br/>

                                    <a title="Epargne Smart" href="produits/particuliers-classique-compte-epargne-smart.html" data-original-title="Epargne SMART" data-toggle="tooltip" data-placement="top" id="produit">Epargne SMART</a>
                                    <br/>

                                    <a title="Autre" href="categorie/comptes.html" data-original-title="Epargne START" data-toggle="tooltip" data-placement="top" id="produit">Autre</a>

                                </ul>
                                <h3 style="pointer-events: unset;" ><a href="categorie/comptes.html">{{ category.titre }}</a></h3>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
    
    
                <!--<div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>-->
            </div>
        </div>
    
    
    </section>
<br><br><br><br>
<!-- end Portfolio -->