<!-- Portfolio -->
<section id="NosProduits" class="page-portfolio section-portfolio style3 prods">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title center">Nos Produits</h2>
            </div>
            <div class="filter-wrap col-sm-8 col-xs-12">
                <div class="filter-wrap col-sm-8 col-xs-12">
                    <ul class="filter horizontal" data-filter-group="con2">
                        <!-- classiqe + islamique -->
                        <li id="classique"><a  data-filter=".classiques" href="#">Classique</a></li>
                        <li id="islamique"><a  data-filter=".islamique" href="#">Participatif</a></li>
                    </ul>
                </div>
                <div class="filter-wrap col-sm-8 col-xs-12">

                    <ul class="filter horizontal" data-filter-group="con1">
                        <li id="part"><a  data-filter=".particulier" href="#">Particulier</a></li>
                        <li id="prof"><a  data-filter=".professionnel" href="#">Professionnel</a></li>
                        <li id="entrep"><a  data-filter=".entreprise" href="#">Entreprise</a></li>
                    </ul>

                </div>
            </div>
            <div class="portfolio popup-gallery mgb50 col-sm-12 col-xs-12">
                <div class="col-md-12">


                    <div class="item particulier classiques">
                        <article class="feature">
                            <p class="image"><a href="categorie/comptes.html"><img src="img/Comptes/Miniature/comptes.png" alt="Comptes"></a></p>
                            <div class="intro" >
                                <ul>

                                    <a title="Chèque" href="produits/particuliers-classique-compte-cheque.html" data-original-title="Chèque" data-toggle="tooltip" data-placement="top" id="produit">Chèque</a>
                                    <br/>
                                    <a title="Devise" href="produits/particuliers-classique-compte-devise.html" data-original-title="Devise" data-toggle="tooltip" data-placement="top" id="produit">Devises</a>
                                    <br/>
                                    <a title="Livret Epargne Classique" href="produits/particuliers-classique-compte-epargne.html" data-original-title="Livret Epargne Classique" data-toggle="tooltip" data-placement="top" id="produit">Livret epargne</a>
                                    <br/>

                                    <a title="Epargne Smart" href="produits/particuliers-classique-compte-epargne-smart.html" data-original-title="Epargne SMART" data-toggle="tooltip" data-placement="top" id="produit">Epargne SMART</a>
                                    <br/>

                                    <a title="Autre" href="categorie/comptes.html" data-original-title="Epargne START" data-toggle="tooltip" data-placement="top" id="produit">Autre</a>

                                </ul>
                                <h3 style="pointer-events: unset;" ><a href="categorie/comptes.html">Comptes</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item particulier islamique">
                        <article class="feature">
                            <p class="image"><a href="categorie/comptes.html"><img src="img/Comptes/Miniature/comptes.png" alt="Comptes"></a></p>
                            <div class="intro">
                                <ul>

                                    <a title="Livret Epargne Classique" href="produits/particuliers-chariaa-placements-livret-epargne-participatif.html" data-original-title="Livret Epargne Classique" data-toggle="tooltip" data-placement="top" id="produit">Epargne Participative</a>
                                    <br/>


                                </ul>
                                <h3><a href="categorie/comptes.html">Comptes</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item professionnel classiques">
                        <article class="feature">
                            <p class="image"><a href="categorie/comptes.html"><img src="img/Comptes/Miniature/comptes.png" alt="Comptes"></a></p>
                            <div class="intro">
                                <ul>

                                    <a title="Comptes courant Dinars" href="produits/professionnel-classique-compte-courant.html" data-original-title="Comptes courant " data-toggle="tooltip" data-placement="top" id="produit">Comptes courant</a>
                                    <br/>
                                    <a title="Comptes inr" href="produits/professionnel-classique-compte-inr.html" data-original-title="INR" data-toggle="tooltip" data-placement="top" id="produit">INR</a>
                                    <br/>
                                    <a title="Comptes cedac" href="produits/professionnel-classique-compte-cedac.html" data-original-title="CEDAC" data-toggle="tooltip" data-placement="top" id="produit">CEDAC</a>
                                    <br/>


                                </ul>
                                <h3><a href="categorie/comptes.html">Comptes</a></h3>
                            </div>
                        </article>
                    </div>


                    <div class="item entreprise classiques">
                        <article class="feature">
                            <p class="image"><a href="categorie/comptes.html"><img src="img/Comptes/Miniature/comptes.png" alt="Comptes"></a></p>
                            <div class="intro" >
                                <ul>

                                    <a title="Comptes courant Dinars" href="produits/entreprise-classique-compte-compte-courant-dinars.html" data-original-title="comptes-comptes-courant-dinars" data-toggle="tooltip" data-placement="top" id="produit">Comptes courant dinars </a>
                                    <br/>


                                    <a title="CEDAC" href="produits/entreprise-classique-compte-cedac.html" data-original-title="CEDAC" data-toggle="tooltip" data-placement="top" id="produit">CEDAC </a>
                                    <br/>

                                    <a title="INR" href="produits/entreprise-classique-compte-inr.html" data-original-title="INR" data-toggle="tooltip" data-placement="top" id="produit">INR </a>
                                    <br/>


                                </ul>
                                <h3 ><a href="categorie/comptes.html">Comptes</a></h3>
                            </div>
                        </article>
                    </div>
                    <div  class="item particulier classiques">
                        <article class="feature">
                            <p class="image"><a href="categorie/cartes-bancaires-nationales.html"><img src="imgmaj/DIVERS/particulier-violette_s.jpg" alt="Cartes bancaires nationales"></a></p>
                            <div class="intro">

                                <ul>
                                    <a title="Carte CIB" href="produits/particuliers-classique-cartes-bancaires-nationales-carte-cib-sahla.html" data-original-title="CIB Sahla" data-toggle="tooltip" data-placement="top" id="produit">CIB Sahla</a>
                                    <br/>

                                    <a title="Carte Epargne" href="produits/particuliers-classique-cartes-bancaires-nationales-carte-epargne.html" data-original-title="Carte Epargne" data-toggle="tooltip" data-placement="top" id="produit">Carte epargne</a>
                                    <br/>
                                </ul>

                                <h3><a href="categorie/cartes-bancaires-nationales.html">Cartes nationales</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item particulier islamique">
                        <article class="feature">
                            <p class="image"><a href="categorie/cartes-bancaires-nationales.html"><img src="imgmaj/epargne-pf.jpg" alt="Cartes bancaires nationales"></a></p>
                            <div class="intro">

                                <ul>


                                    <a title="Carte Epargne" href="produits/particuliers-chariaa-cartes-bancaires-nationales-carte-epargne.html" data-original-title="Carte Epargne" data-toggle="tooltip" data-placement="top" id="produit">Carte epargne</a>
                                    <br/>
                                </ul>

                                <h3><a href="categorie/cartes-bancaires-nationales.html">Cartes nationales</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item particulier islamique">
                        <article class="feature">
                            <p class="image"><a href="categorie/Financement.html"><img src="imgmaj/CreditConso/creditconso.jpg" alt="financement"></a></p>
                            <div class="intro">

                                <ul>
                                    <a title="MOURABAHA SAYARATI" href="produits/particuliers-chariaa-financement-mourabaha-SAYARATI.html" data-original-title="MOURABAHA SAYARATI" data-toggle="tooltip" data-placement="top" id="produit">mourabaha SAYARATI</a>
                                    <br/>

                                    <a title="MOURABAHA TESHILAT" href="produits/particuliers-chariaa-financement-mourabaha-tasshilat.html" data-original-title="MOURABAHA TESHILAT" data-toggle="tooltip" data-placement="top" id="produit">mourabaha TESHILAT</a>
                                    <br/>
                                </ul>

                                <h3><a href="categorie/Financement.html">Financements Conso</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item particulier classiques">
                        <article class="feature">
                            <p class="image"><a href="categorie/carte-bancaires-internationales.html"><img src="imgmaj/DIVERS/logo-visa-mc.jpg" alt="Carte bancaires internationales"></a></p>
                            <div class="intro">

                                <ul>
                                    <a title="MasterCard" href="categorie/carte-bancaires-internationales-mastercard.html" data-original-title="MasterCard" data-toggle="tooltip" data-placement="top" id="produit">MasterCard</a>
                                    <br/>

                                    <a title="VISA" href="categorie/carte-bancaires-internationales-visa.html" data-original-title="Visa" data-toggle="tooltip" data-placement="top" id="produit">VISA</a>
                                    <br/>



                                </ul>

                                <h3><a href="categorie/carte-bancaires-internationales.html">Cartes internationales</a></h3>
                            </div>
                        </article>
                    </div>


                    <div class="item professionnel  classiques">
                        <article class="feature">
                            <p class="image"><a href="categorie/cycle-exploitation.html"><img src="imgmaj/COMPLEMENT/creditsdexploitation.jpg" alt="Proline exploitation"></a></p>
                            <div class="intro">
                                <ul>


                                    <a title="Crédit par caisse/decouvert" href="produits/professionnel-classique-credit-exploitation-credit-de-tresorerie.html" data-original-title="Crédits de trésorerie" data-toggle="tooltip" data-placement="top" id="produit">Crédits de trésorerie</a>
                                    <br/>

                                    <a title="Crédit par signature" href="produits/professionnel-classique-credit-exploitation-credit-par-signature.html" data-original-title="Crédits par signature" data-toggle="tooltip" data-placement="top" id="produit">Crédits par signature</a>
                                    <br/>
                                </ul>

                                <h3><a href="categorie/cycle-exploitation.html">Crédits d'exploitation</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item professionnel  classiques">
                        <article class="feature">
                            <p class="image"><a href="categorie/credits-dinvestissment.html"><img src="img/ProlineInvestissement/Miniature/1.png" alt="CREDITS D’INVESTISSMENT à moyen terme"></a></p>
                            <div class="intro">
                                <ul>

                                    <a title="CREDITS EQUIPEMENTS PROFESSIONNELS" href="produits/professionnel-classique-credits-investissement-equipements-professionnels.html" data-original-title="CREDITS EQUIPEMENTS PROFESSIONNELS" data-toggle="tooltip" data-placement="top" id="produit">crédits équipements professionnels</a>
                                    <br/>
                                    <a title="CREDITS D’INVESTISSEMENT IMMOBILIER" href="produits/professionnel-classique-credits-investissement-immobilier.html" data-original-title="CREDITS D’INVESTISSEMENT IMMOBILIER" data-toggle="tooltip" data-placement="top" id="produit">Crédits d’investissement immobilier</a>
                                    <br/>
                                </ul>

                                <h3><a href="categorie/credits-dinvestissment.html">Crédits d'investissement</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item professionnel  classiques">
                        <article class="feature">
                            <p class="image"><a href="categorie/proline.html"><img src="imgmaj/prolinemin.jpg" alt="Proline "></a></p>
                            <div class="intro">
                                <ul>

                                    <a title="" href="produits/professionnel-classique-proline-avance-sur-stock.html" data-original-title="" data-toggle="tooltip" data-placement="top" id="produit">Avance sur stock</a>
                                    <br/>
                                    <a title="" href="produits/professionnel-classique-proline-acquisition-equipement.html" data-original-title="" data-toggle="tooltip" data-placement="top" id="produit">Acquisition équipement</a>
                                    <br/>
                                    <a title="" href="produits/professionnel-classique-proline-acquisition-amenagement-local-a-usage.html" data-original-title="" data-toggle="tooltip" data-placement="top" id="produit">Acquisition/aménagement local à usage commercial</a>
                                    <br/>
                                </ul>

                                <h3><a href="categorie/Proline.html">Proline</a></h3>
                            </div>
                        </article>
                    </div> 
                    <div class="item professionnel  islamique">
                        <article class="feature">
                            <p class="image"><a href="categorie/proline.html"><img src="imgmaj/prolinemin.jpg" alt="Proline "></a></p>
                            <div class="intro">
                                <ul>

                                    <a title="" href="produits/professionnel-chariaa-proline-avance-sur-stock-salam.html" data-original-title="" data-toggle="tooltip" data-placement="top" id="produit">Avance sur stock financement salam</a>
                                    <br/>
                                    <a title="" href="produits/professionnel-chariaa-proline-acquisition-equipement-mourabaha.html" data-original-title="" data-toggle="tooltip" data-placement="top" id="produit">Acquisition équipement  financement mourabaha</a>
                                    <br/>

                                </ul>

                                <h3><a href="categorie/Proline.html">Proline</a></h3>
                            </div>
                        </article>
                    </div>

                    <div class="item entreprise classiques">
                        <article class="feature">
                            <p class="image"><a href="categorie/cycle-exploitation.html"><img src="imgmaj/COMPLEMENT/creditsdexploitation.jpg" alt="Cycle d'exploitation"></a></p>
                            <div class="intro">
                                <ul>
                                    <a title="Crédit par caisse/decouvert" href="produits/entreprise-classique-cycle-d-exploitation-credit-de-tresorerie.html" data-original-title="LES CREDITS DE TRESORERIE" data-toggle="tooltip" data-placement="top" id="produit">Crédits de trésorerie</a>
                                    <br/>
                                    <a title="Crédit par signature" href="produits/entreprise-classique-cycle-d-exploitation-credit-par-signature.html" data-original-title="Crédit par signature" data-toggle="tooltip" data-placement="top" id="produit">Crédit par signature</a>
                                    <br/>
                                </ul>

                                <h3><a href="categorie/cycle-exploitation.html">Crédits d'exploitation</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item  entreprise classiques">
                        <article class="feature">
                            <p class="image"><a href="categorie/credits-dinvestissment.html"><img src="img/Credit-d-investissement-a-moyen-terme.jpg" alt="CREDITS D’INVESTISSMENT"></a></p>
                            <div class="intro">
                                <ul>

                                    <a title="crédits équipements professionnels" href="produits/entreprise-classique-credits-investissement-equipements-professionnels.html" data-original-title="Financement équipements professionnels" data-toggle="tooltip" data-placement="top" id="produit">Crédits équipements professionnels</a>
                                    <br/>
                                    <a title="Crédits d'investissement immobilier" href="produits/entreprise-classique-credits-investissement-immobilier.html" data-original-title="Crédits d'investissement immobilier" data-toggle="tooltip" data-placement="top" id="produit">Crédits d'investissement immobilier</a>
                                    <br/>
                                </ul>
                                <h3><a href="categorie/credits-dinvestissment.html">CREDITS D’INVESTISSMENT </a></h3>
                            </div>
                        </article>
                    </div>
                    <!--<div class="item entreprise classiques">
                        <article class="feature">
                            <p class="image"><a href="produits/professionnel-classique-carte-business.html"><img src="imgmaj/DIVERS/cartecibbusiness.png" alt="Carte business"></a></p>
                                <div class="intro">

                                <ul>
                                    <a title="Carte Business" href="produits\professionnel-classique-carte-business.html" data-original-title="Carte business" data-toggle="tooltip" data-placement="top" id="produit">Carte Business</a>
                                    <br/>
                                </ul>
                                <h3><a href="produits/professionnel-classique-carte-business.html">Cartes Business</a></h3>
                            </div>
                        </article>
                    </div> -->
                    <div class="item entreprise classiques">
                        <article class="feature">
                            <p class="image"><a href="produits/professionnel-classique-carte-business.html"><img src="imgmaj/DIVERS/cartecibbusiness.png" alt="Carte business"></a></p>
                            <div class="intro">
                                <h3><a href="produits/professionnel-classique-carte-business.html">Cartes Business</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item professionnel classiques">
                            <article class="feature">
                                <p class="image"><a href="produits/professionnel-classique-carte-business.html"><img src="imgmaj/DIVERS/cartecibbusiness.png" alt="Carte business"></a></p>
                                <div class="intro">
                                    <h3><a href="produits/professionnel-classique-carte-business.html">Cartes Business</a></h3>
                                </div>
                            </article>
                        </div>
                
                    
                    <div class="item ">
                        <article class="feature">
                            <p class="image"><a href="categorie/credits-par-signature.html"><img src="img/Credit-a-la-signature.jpg" alt="CREDITS PAR SIGNATURE"></a></p>
                            <div class="intro">
                                <h3><a href="categorie/credits-par-signature.html">CREDITS PAR SIGNATURE</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item professionnel classiques">
                        <article class="feature">
                            <p class="image"><a href="categorie/leasing.html"><img src="imgmaj/LEASING/smallleasing.jpg" alt="Leasing"></a></p>
                            <div class="intro">
                                <ul>
                                    <a title="Financement leasing MOBILIER " href="produits/professionnel-classique-leasing-financement-leasing-mobilier.html" data-original-title="Financement leasing MOBILIER " data-toggle="tooltip" data-placement="top" id="produit">Financement leasing Pro mobilier </a>
                                    <br/>

                                    <a title="Financement leasing immobilier " href="produits/professionnel-classique-leasing-financement-leasing-immobilier.html" data-original-title="Financement leasing IMMOBOLIER " data-toggle="tooltip" data-placement="top" id="produit">Financement leasing immobilier </a>
                                    <br/>

                                </ul>
                                <h3><a href="categorie/leasing.html">Leasing</a></h3>
                            </div>
                        </article>
                    </div>
                    <!-- <div class="item professionnel classiques">
                        <article class="feature">
                            <p class="image"><a href="categorie/cartes-bancaires-nationales.html"><img src="imgmaj/DIVERS/particulier-violette_s.jpg" alt="Cartes bancaires nationales"></a></p>
                            <div class="intro">

                                <ul>
                                    <a title="Carte Business" href="produits\professionnel-classique-carte-business.html" data-original-title="Carte business" data-toggle="tooltip" data-placement="top" id="produit">Carte Business</a>
                                    <br/>

                                </ul>

                                <h3><a href="categorie/cartes-bancaires-nationales.html">Cartes nationales</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item professionnel classiques">
                        <article class="feature">
                            <p class="image"><a href="produits/professionnel-classique-carte-business.html"><img src="imgmaj/DIVERS/cartecibbusiness.png" alt="Carte business"></a></p>
                            <div class="intro">
                                <h3><a href="produits/professionnel-classique-carte-business.html">Carte Business</a></h3>
                            </div>
                        </article>
                    </div>	 -->
                    <div class="item  entreprise  classiques ">
                        <article class="feature">
                            <p class="image"><a href="categorie/leasing.html"><img src="imgmaj/LEASING/smallleasing.jpg" alt="Leasing"></a></p>
                            <div class="intro">
                                <ul>
                                    <a title="Financement leasing MOBILIER " href="produits/entreprise-classique-leasing-financement-leasing-mobilier-corporate.html" data-original-title="Financement leasing MOBILIER " data-toggle="tooltip" data-placement="top" id="produit">Financement leasing mobilier </a>
                                    <br/>

                                    <a title="Financement leasing immobilier " href="produits/entreprise-classique-leasing-financement-leasing-immobilier-corporate.html" data-original-title="Financement leasing IMMOBOLIER " data-toggle="tooltip" data-placement="top" id="produit">Financement leasing immobilier </a>
                                    <br/>

                                </ul>
                                <h3><a href="categorie/leasing.html">Leasing</a></h3>

                            </div>
                        </article>
                    </div>
                    <div class="item professionnel  islamique">
                        <article class="feature">
                            <p class="image"><a href="categorie/Financement.html"><img src="img/Financement/Miniature/oop.png" alt="Financement"></a></p>
                            <div class="intro">
                                <ul>
                                    <a title="MOURABAHA" href="produits/professionnel-chariaa-financement-mourabaha.html" data-original-title="MOURABAHA" data-toggle="tooltip" data-placement="top" id="produit">Mourabaha court terme</a>
                                    <br/>
                                    <a title="SALAM" href="produits/professionnel-chariaa-financement-salam.html" data-original-title="SALAM" data-toggle="tooltip" data-placement="top" id="produit">Salam</a>
                                    <br/>
                                    <a title="MOURABAHA investissment" href="produits/professionnel-chariaa-financement-mourabaha-investissement.html" data-original-title="MOURABAHA Investissment" data-toggle="tooltip" data-placement="top" id="produit">Mourabaha investissment</a>
                                    <br/>

                                </ul>
                                <h3><a href="categorie/Financement.html">Financements</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item entreprise islamique">
                        <article class="feature">
                            <p class="image"><a href="categorie/Financement.html"><img src="img/Financement/Miniature/oop.png" alt="Financement"></a></p>
                            <div class="intro">
                                <ul>
                                    <a title="MOURABAHA" href="produits/entreprise-chariaa-financement-mourabaha.html" data-original-title="MOURABAHA" data-toggle="tooltip" data-placement="top" id="produit">Mourabaha</a>
                                    <br/>
                                    <a title="SALAM" href="produits/entreprise-chariaa-financement-salam.html" data-original-title="S" data-toggle="tooltip" data-placement="top" id="produit">Salam</a>
                                    <br/>
                                    <a title="MOURABAHA investissment" href="produits/entreprise-chariaa-financement-mourabaha-investissement.html" data-original-title="MOURABAHA Investissment" data-toggle="tooltip" data-placement="top" id="produit">Mourabaha investissment</a>
                                    <br/>

                                </ul>
                                <h3><a href="categorie/Financement.html">Financements</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item particulier classiques">

                        <article class="feature">
                            <p class="image"><a href="categorie/credits-a-la-consommation.html"><img src="imgmaj/DIVERS/particulier-leasing_s.jpg" alt="Crédit à la consommation"></a></p>
                            <div class="intro">

                                <ul>
                                    <a title="Crédit SEYARATI" href="produits/particuliers-classique-credits-a-la-consommation-SAYARATI.html" data-original-title="Crédit SEYARATI" data-toggle="tooltip" data-placement="top" id="produit">SAYARATI</a>
                                    <br/>

                                    <a title="Crédit TESHILAT" href="produits/particuliers-classique-credits-a-la-consommation-tasshilat.html" data-original-title="Crédit TESHILAT" data-toggle="tooltip" data-placement="top" id="produit">TESHILAT</a>
                                    <br/>


                                </ul>



                                <h3><a href="categorie/credits-a-la-consommation.html">Crédits Conso </a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item particulier classiques islamique">
                        <article class="feature">
                            <p class="image"><a href="#"><img src="img/Banque-Digitale/Miniature/1part.jpg" alt="Banque Digitale"></a></p>
                            <div class="intro">
                                <ul>
                                    <a title="AGB Online" href="https://www.agb.dz/produits/banque-digitale-agb-online.html" data-original-title="AGB Online" data-toggle="tooltip" data-placement="top" id="produit">AGB Online</a>
                                    <br/>
                                    <a title="" href="produits/banque-digitale-sms-push.html" data-original-title="Services SMS" data-toggle="tooltip" data-placement="top" id="produit"> Service SMS</a>
                                    <br/>
                                    <a title="" href="produits/service-plus-mailing.html" data-original-title="Services Mailing" data-toggle="tooltip" data-placement="top" id="produit">Service Mailing</a>
                                    <br/>
                                    <!-- <a title="paiment par internet" href="produits/banque-digitale-paiment-par-internet.html" data-original-title="paiment par internet" data-toggle="tooltip" data-placement="top" id="produit">Paiment par internet</a>
                                        <br/> -->
                                    </ul>
                                    <h3><a href="categorie/banque-digitale.html">Banque digitale</a></h3>
                                </div>
                            </article>
                        </div>
                        <div class="item professionnel entreprise classiques islamique">
                            <article class="feature">
                                <p class="image"><a href="#"><img src="img/Banque-Digitale/Miniature/1Pro.png" alt="Banque Digitale"></a></p>
                                <div class="intro">
                                    <ul>
                                        <a title="AGB Online" href="https://www.agb.dz/produits/banque-digitale-AGB-Online-pro.html" data-original-title="AGB Online" data-toggle="tooltip" data-placement="top" id="produit">AGB Online</a>
                                        <br/>
                                        <a title="" href="produits/banque-digitale-sms-push.html" data-original-title="Services SMS" data-toggle="tooltip" data-placement="top" id="produit"> Service SMS</a>
                                        <br/>
                                        <a title="" href="produits/service-plus-mailing.html" data-original-title="Services Mailing" data-toggle="tooltip" data-placement="top" id="produit">Service Mailing</a>
                                        <br/>
                                        <!-- <a title="paiment par internet" href="produits/banque-digitale-paiment-par-internet.html" data-original-title="paiment par internet" data-toggle="tooltip" data-placement="top" id="produit">Paiment par internet</a>
                                            <br/> -->
                                        </ul>
                                        <h3><a href="categorie/banque-digitale.html">Banque digitale</a></h3>
                                    </div>
                                </article>
                            </div>
                        <div class="item particulier classiques">
                            <article class="feature">
                                <p class="image"><a href="categorie/credits-immobilier.html"><img src="img/CreditImmobilier/Miniature/1.png" alt="Crédit immobilier"></a></p>
                                <div class="intro">


                                    <ul>
                                        <a title="" href="produits/particuliers-classique-credits-immobilier-bayti-amenagement.html" data-original-title="Bayti amenagement" data-toggle="tooltip" data-placement="top" id="produit">Bayti aménagement</a>
                                        <br/>
                                        <a title="" href="produits/particuliers-classique-credits-immobilier-bayti_acquisition.html" data-original-title="Bayti acquisition" data-toggle="tooltip" data-placement="top" id="produit">Bayti acquisition</a>
                                        <br/>

                                    </ul>


                                    <h3><a href="categorie/credits-immobilier.html">Crédits immobiliers</a></h3>
                                </div>
                            </article>
                        </div>
                        <div class="item particulier classiques">
                            <article class="feature">
                                <p class="image"><a href="categorie/placement-et-epargne.html"><img src="img/Placements/Miniature/1.png" alt="Placement et épargne"></a></p>
                                <div class="intro">
                                    <ul>
                                        <a title="Bon de caisse Classique" href="produits/particuliers-classique-placements-bon-de-caisse-classique.html" data-original-title="Bon de caisse Classique" data-toggle="tooltip" data-placement="top" id="produit">Bons de caisse</a>
                                        <br/>

                                        <a title="Dépôt à terme Classique" href="produits/particuliers-classique-placements-depot-a-terme-classique.html" data-original-title="Financement VIP acquisition ou aménagement d’un bien immobilier" data-toggle="tooltip" data-placement="top" id="produit">Dépôts à terme</a>
                                        <br/>
                                    </ul>
                                    <h3><a href="categorie/placement-et-epargne.html">Placements</a></h3>
                                </div>
                            </article>
                        </div>
                        <div class="item particulier islamique">
                            <article class="feature">
                                <p class="image"><a href="categorie/placement-et-epargne.html"><img src="img/Placements/Miniature/1.png" alt="Placement"></a></p>
                                <div class="intro">
                                    <ul>


                                        <a title="Bon de caisse participatif " href="produits/particuliers-chariaa-placements-bon-de-caisse-participatif.html" data-original-title="Bon de caisse participatif " data-toggle="tooltip" data-placement="top" id="produit">Bons de caisse participatifs </a>
                                        <br/>

                                        <a title="Dépôt à terme participatif" href="produits/particuliers-chariaa-placements-depot-a-terme-participatif.html" data-original-title="Dépôt à terme participatif" data-toggle="tooltip" data-placement="top" id="produit">Dépôts à terme participatifs</a>
                                        <br/>

                                    </ul>
                                    <h3><a href="categorie/placement-et-epargne.html">Placements</a></h3>
                                </div>
                            </article>
                        </div>

                        <div class="item  entreprise classiques">
                            <article class="feature">
                                <p class="image"><a href="categorie/operation-a-international.html"><img src="img/CommerceExterieuretFinancements/Miniature/2.png" alt="Placement"></a></p>
                                <div class="intro">
                                    <ul>
                                        <a title="Transfert libre" href="produits/entreprise-classique-commerce-exterieur-financement-financement-des-operations.html" data-original-title="Transfert libre" data-toggle="tooltip" data-placement="top" id="produit">Moyens de paiement et financements</a>
                                        <br/>

                                        <a title="credit documentaire" href="produits/entreprise-classique-commerce-exterieur-financement-financement-garanties-internationales.html" data-original-title="credit documentaire" data-toggle="tooltip" data-placement="top" id="produit">Garanties à l’international</a>
                                        <br/>



                                    </ul>
                                    <h3><a href="categorie/operation-a-international.html">Opérations à l'international</a></h3>
                                </div>
                            </article>
                        </div>

                        <div class="item  professionnel classiques">
                            <article class="feature">
                                <p class="image"><a href="categorie/operation-a-international.html"><img src="img/CommerceExterieuretFinancements/Miniature/2.png" alt="Placement"></a></p>
                                <div class="intro">
                                    <ul>
                                        <a title="" href="produits/professionnel-classique-commerce-exterieur-financement-financement-des-operations.html" data-original-title="Moyens de paiement et financements" data-toggle="tooltip" data-placement="top" id="produit">Moyens de paiement et financements</a>
                                        <br/>

                                        <a title="" href="produits/professionnel-classique-commerce-exterieur-financement-financement-garanties-internationales.html" data-original-title="Garanties à l’international" data-toggle="tooltip" data-placement="top" id="produit">Garanties à l’international</a>
                                        <br/>



                                    </ul>
                                    <h3><a href="categorie/operation-a-international.html">Opérations à l'international</a></h3>
                                </div>
                            </article>
                        </div>



                        <div class="item  professionnel  classiques ">
                            <article class="feature">
                                <p class="image"><a href="categorie/placement-et-epargne.html"><img src="img/Placements/Miniature/1.png" alt="Placement et épargne"></a></p>
                                <div class="intro">
                                    <ul>

                                        <a title="Bon de caisse  " href="produits/professionnel-classique-placements-bon-de-caisse-classique.html" data-original-title="Bons de caisse  " data-toggle="tooltip" data-placement="top" id="produit">Bons de caisse  </a>
                                        <br/>

                                        <a title="Dépôt à terme " href="produits/professionnel-classique-placements-depot-a-terme-classique.html" data-original-title="Dépôts à terme " data-toggle="tooltip" data-placement="top" id="produit">Dépôts à terme </a>
                                        <br/>
                                    </ul>
                                    <h3><a href="categorie/placement-et-epargne.html">Placements</a></h3>
                                </div>
                            </article>
                        </div>
                        <div class="item  professionnel   islamique">

                            <article class="feature">
                                <p class="image"><a href="categorie/placement-et-epargne.html"><img src="img/Placements/Miniature/1.png" alt="Placement et épargne"></a></p>
                                <div class="intro">
                                    <ul>

                                        <a title="Bons de caisse participatif " href="produits/professionnel-chariaa-placements-bon-de-caisse-participatif.html" data-original-title="Bons de caisse participatif " data-toggle="tooltip" data-placement="top" id="produit">Bons de caisse participatif </a>
                                        <br/>

                                        <a title="Dépôts à terme participatif" href="produits/professionnel-chariaa-placements-depot-a-terme-participatif.html" data-original-title="Dépôts à terme participatif" data-toggle="tooltip" data-placement="top" id="produit">Dépôts à terme participatif</a>
                                        <br/>
                                    </ul>
                                    <h3><a href="categorie/placement-et-epargne.html">Placements</a></h3>
                                </div>
                            </article>
                        </div>


                        <div class="item   entreprise classiques ">
                            <article class="feature">
                                <p class="image"><a href="categorie/placement-et-epargne.html"><img src="img/Placements/Miniature/1.png" alt="Placement et épargne"></a></p>
                                <div class="intro">
                                    <ul>

                                        <a title="Bon de caisse participatif " href="produits/entreprise-classique-placements-bon-de-caisse-classique.html" data-original-title="Bon de caisse participatif " data-toggle="tooltip" data-placement="top" id="produit">Bons de caisse  </a>
                                        <br/>

                                        <a title="Dépôt à terme participatif" href="produits/entreprise-classique-placements-depot-a-terme-classique.html" data-original-title="Dépôt à terme participatif" data-toggle="tooltip" data-placement="top" id="produit">Dépôts à terme </a>
                                        <br/>
                                    </ul>
                                    <h3><a href="categorie/placement-et-epargne.html">Placements</a></h3>
                                </div>
                            </article>
                        </div>


                        <div class="item   entreprise islamique">
                            <article class="feature">
                                <p class="image"><a href="categorie/placement-et-epargne.html"><img src="img/Placements/Miniature/1.png" alt="Placement et épargne"></a></p>
                                <div class="intro">
                                    <ul>

                                        <a title="Bon de caisse participatif " href="produits/entreprise-chariaa-placements-bon-de-caisse-participatif.html" data-original-title="Bon de caisse participatif " data-toggle="tooltip" data-placement="top" id="produit">Bons de caisse participatif </a>
                                        <br/>

                                        <a title="Dépôt à terme participatif" href="produits/entreprise-chariaa-placements-depot-a-terme-participatif.html" data-original-title="Dépôt à terme participatif" data-toggle="tooltip" data-placement="top" id="produit">Dépôts à terme participatif</a>
                                        <br/>
                                    </ul>
                                    <h3><a href="categorie/placement-et-epargne.html">Placements</a></h3>
                                </div>
                            </article>
                        </div>

                        <div class="item particulier  classiques ">
                            <article class="feature">
                                <p class="image"><a href="categorie/services-plus.html"><img src="imgmaj/DIVERS/poigneemainpf.jpg" alt="Services Plus"></a></p>
                                <div class="intro">
                                    <ul>
                                        <a title="chargement prepaid" href="produits/service-chargement-prepaid.html" data-original-title="chargement prepaid" data-toggle="tooltip" data-placement="top" id="produit">Chargement cartes prepayées</a>
                                        <br/>

                                        <a title="Virement permanent" href="produits/service-virments-multiples.html" data-original-title="Virement permanent" data-toggle="tooltip" data-placement="top" id="produit">Virement permanent</a>
                                        <br/>


                                    </ul>

                                    <h3><a href="categorie/services-plus.html">Services </a></h3>
                                </div>
                            </article>
                        </div>


                        <div class="item particulier   islamique">
                            <article class="feature">
                                <p class="image"><a href="categorie/services-plus.html"><img src="imgmaj/DIVERS/poigneemainpf.jpg" alt="Services Plus"></a></p>
                                <div class="intro">
                                    <ul>


                                        <a title="Virement permanent" href="produits/service-virments-multiples.html" data-original-title="Virement permanent" data-toggle="tooltip" data-placement="top" id="produit">Virement permanent</a>
                                        <br/>


                                    </ul>

                                    <h3><a href="categorie/services-plus.html">Services </a></h3>
                                </div>
                            </article>
                        </div>
                        <!-- <div class="item  professionnel entreprise classiques islamique">
                            <article class="feature">
                                <p class="image"><a href="categorie/services-plus.html"><img src="imgmaj/DIVERS/poigneemainpf.jpg" alt="Services"></a></p>
                                <div class="intro">
                                    <ul>
                                        <a title="Pre domiciliation" href="produits/service-chargement-pre-domiciliation.html" data-original-title="Pre domiciliation" data-toggle="tooltip" data-placement="top" id="produit">Pre domiciliation</a>
                                        <br/>
                                    </ul>

                                    <h3><a href="categorie/services-plus.html">Services </a></h3>
                                </div>
                            </article>
                        </div> -->
                        <div class="item entreprise classiques islamique">
                                <article class="feature">
                                    <p class="image"><a href="categorie/services-plus.html"><img src="imgmaj/DIVERS/poigneemainpf.jpg" alt="Services"></a></p>
                                    <div class="intro">
                                        <ul>
                                            <a title="Pre domiciliation" href="produits/service-chargement-pre-domiciliation.html" data-original-title="Pre domiciliation" data-toggle="tooltip" data-placement="top" id="produit">Pre domiciliation</a>
                                            <br/>
                                        </ul>

                                        <h3><a href="categorie/services-plus.html">Services </a></h3>
                                    </div>
                                </article>
                            </div>
                        <div class="item  professionnel entreprise classiques islamique" style="position: absolute; left: 15px; top: 236px;">									<article class="feature">
                                <p class="image"><a href="categorie/bancassurance-assurance.html"><img src="imgmaj/bancassurance/assurance_pf.jpg" alt="Bancassurance"></a></p>
                                <div class="intro">

                                    <ul>
                                        <a title="Prévoyance Individuelle " href="produits/professionnel-pi-pro.html" data-original-title="Prévoyance Individuelle " data-toggle="tooltip" data-placement="top" id="produit">Prévoyance Individuelle </a>
                                        <br/>
                                    </ul>

                                    <h3><a href="categorie/bancassurance-assurance.html">Bancassurance</a></h3>
                                </div>
                            </article>
                        </div>
                        <div class="item particulier classiques ">
                            <article class="feature">
                                <p class="image"><a href="categorie/bancassurance-assurance.html"><img src="imgmaj/bancassurance/assurance_pf.jpg" alt="Bancassurance"></a></p>
                                <div class="intro">

                                
                                    <h3><a href="categorie/bancassurance-assurance.html">Bancassurance</a></h3>
                                </div>
                            </article>
                        </div> 
                            
                        <div class="item professionnel classique ">
                            <article class="feature">
                                <p class="image"><a href="categorie/bancassurance-assurance.html"><img src="imgmaj/bancassurance/assurance_pf.jpg" alt="Bancassurance"></a></p>
                                <div class="intro">

                                    <ul>
                                        <a title="BANCASSURANCE – Assurance Vie " href="categorie/bancassurance-assurance-vie.html" data-original-title="Assurances Vie " data-toggle="tooltip" data-placement="top" id="produit">Assurances Vie </a>
                                        <br/>
                                    </ul>

                                    <h3><a href="categorie/bancassurance-assurance.html">Bancassurance</a></h3>
                                </div>
                            </article>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>