<div class="container">
    <br><br>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 text-center">
            <h2>Choisissez quel popup vous voullez affichez à l'accueil du site</h2>
        </div>
        <br>
        <div class="col-md-12 col-sm-12 col-lg-12 text-center">
            <button mat-raised-button color="warn" (click)="chooseYoutube()">Vidéo youtube</button>&nbsp;&nbsp;
            <button mat-raised-button color="primary" (click)="chooseImage()">Image</button>
            <!--<button mat-raised-button color="accent">Vidéo personnalisée</button>-->
        </div>
    </div>
</div>
