

<div class="tp-banner-container">
 
  
    <!-- Slider desktop -->
    <ng-container *ngIf="size == 3">
      <div class="fader tp-banner" #sliderRefDesktop style="max-height: 620px; width: 100%;">
      <div
        [ngStyle]="{'opacity': opacitiesDesktop[src1.id]}"
        class="fader__slide"
        *ngFor="let src1 of imagesDesktop; trackBy:identify"
        >
        <img class="bg-img" [src]="src1.img"/>

        <div id="textImageOuterDiv">
          <div *ngIf="src1.slide == 'Slide1' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide1' && img.device == 'desktop'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src1.slide == 'Slide2' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide2' && img.device == 'desktop'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src1.slide == 'Slide3' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide3' && img.device == 'desktop'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src1.slide == 'Slide4' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide4' && img.device == 'desktop'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src1.slide == 'Slide5' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide5' && img.device == 'desktop'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
        </div>
          
      

      </div>
      <svg
      [ngClass]="'arrow arrow--left ' + ( currentSlideDesktop === 0 ? 'arrow--disabled' : '')"
      (click)="sliderDesktop.prev()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
      />
    </svg>
    <svg
      *ngIf="sliderDesktop"
      [ngClass]="'arrow arrow--right ' + (sliderDesktop.details().size - 1 === currentSlideDesktop ? 'arrow--disabled' : '')"
      (click)="sliderDesktop.next()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>
  </div>
  <!-- slider navigation -->
  <div class="dotsDesktops">
    <button
      (click)="sliderDesktop.moveToSlideRelative(i)"
      *ngFor="let slide of dotHelperDesktop; let i = index"
      [class]="'dotDesktop' + (i === currentSlideDesktop ? 'active' : '')"
    ></button>
  </div>
    </ng-container>
    <!-- Fin Slider desktop -->
    <!-- Slider tablette -->
    <ng-container *ngIf="size == 1 || size == 2">
      <div class="fader tp-banner" #sliderRefTab style="max-height: 459px; width: 100%;">
      <div
        [ngStyle]="{'opacity': opacitiesTab[src2.id]}"
        class="fader__slide"
        *ngFor="let src2 of imagesTablette; trackBy:identify"
        
        >
        <img class="bg-img" [src]="src2.img"/>

        <div id="textImageOuterDiv">
          <div *ngIf="src2.slide == 'Slide1' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide1' && img.device == 'tablette'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src2.slide == 'Slide2' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide2' && img.device == 'tablette'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src2.slide == 'Slide3' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide3' && img.device == 'tablette'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src2.slide == 'Slide4' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide4' && img.device == 'tablette'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src2.slide == 'Slide5' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide5' && img.device == 'tablette'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
        </div>
          
      

      </div>
      <svg
      [ngClass]="'arrow arrow--left ' + ( currentSlideTab === 0 ? 'arrow--disabled' : '')"
      (click)="sliderTab.prev()"
      xmlns="http://www.sliderMobilew3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
      />
    </svg>
    <svg
      *ngIf="sliderTab"
      [ngClass]="'arrow arrow--right ' + (sliderTab.details().size - 1 === currentSlideTab ? 'arrow--disabled' : '')"
      (click)="sliderTab.next()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>
  </div>
  <!-- slider navigation -->
  <div class="dotsTabs">
    <button
      (click)="sliderTab.moveToSlideRelative(i)"
      *ngFor="let slide of dotHelperTab; let i = index"
      [class]="'dotTab' + (i === currentSlideTab ? 'active' : '')"
    ></button>
  </div>
    </ng-container>
    <!-- Fin Slider tablette -->
    <!-- Slider mobile -->
    <ng-container *ngIf="size == 0">
      <div class="fader tp-banner" #sliderRefMobile style="max-height: 200px; width: 100%;">
      <div
        [ngStyle]="{'opacity': opacitiesMobile[src3.id]}"
        class="fader__slide"
        *ngFor="let src3 of imagesMobile; trackBy:identify"
        >
        <img class="bg-img" [src]="src3.img"/>

        <div id="textImageOuterDiv">
          <div *ngIf="src3.slide == 'Slide1' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide1' && img.device == 'mobile'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src3.slide == 'Slide2' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide2'  && img.device == 'mobile'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src3.slide == 'Slide3' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide3' && img.device == 'mobile'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src3.slide == 'Slide4' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide4' && img.device == 'mobile'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src3.slide == 'Slide5' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide5' && img.device == 'mobile'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
        </div>
          
      

      </div>
      <svg
      [ngClass]="'arrow arrow--left ' + ( currentSlideMobile === 0 ? 'arrow--disabled' : '')"
      (click)="sliderMobile.prev()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
      />
    </svg>
    <svg
      *ngIf="sliderMobile"
      [ngClass]="'arrow arrow--right ' + (sliderMobile.details().size - 1 === currentSlideMobile ? 'arrow--disabled' : '')"
      (click)="sliderMobile.next()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>
  </div>
  <!-- slider navigation -->
  <div class="dotsMobiles">
    <button
      (click)="sliderMobile.moveToSlideRelative(i)"
      *ngFor="let slide of dotHelperMobile; let i = index"
      [class]="'dotMobile' + (i === currentSlideMobile ? 'active' : '')"
    ></button>
  </div>
    </ng-container>
    <!-- Fin Slider mobile -->

      
    </div>
    
  


<br>
<br>
<br>
<br>



<br>
<br>
<br>
<br>
<br>


<app-size-detector></app-size-detector>