<!-- Slider -->
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <li data-transition="fade" 
            data-slotamount="7" 
            data-masterspeed="300" 
            data-saveperformance="off" 
            class="tp-revslider-slidesli active-revslide" 
            style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;"
            >
                <div class="slotholder" 
                style="width:100%;height:100%;" 
                data-duration="undefined" 
                data-zoomstart="undefined" 
                data-zoomend="undefined" 
                data-rotationstart="undefined" 
                data-rotationend="undefined" 
                data-ease="undefined" 
                data-bgpositionend="undefined" 
                data-bgposition="center top" 
                data-kenburns="undefined" 
                data-easeme="undefined" 
                data-bgfit="cover" 
                data-bgfitend="undefined" 
                data-owidth="undefined" 
                data-oheight="undefined"
                >
                    <img class="tp-bgimg defaultimg" 
                    data-lazyload="undefined" 
                    data-bgfit="cover" 
                    data-bgposition="center top" 
                    data-bgrepeat="no-repeat" 
                    data-lazydone="undefined" 
                    [src]="slide1" 
                    data-src= {{slide1}} 
                    style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url({{slide1}}); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 1; visibility: inherit;"
                    ></div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption btn02 sft tp-resizeme start" 
                data-x="center" 
                data-hoffset="-400" 
                data-y="center" 
                data-voffset="-50" 
                data-speed="300" 
                data-start="1000" 
                data-easing="Power3.easeInOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="300" 
                style="left: 0px; top: 21.5px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -50, 0, 1);"
                >
                <img src="../../../assets/images/img/la-banque-qui-vous-reflete.png" 
                style="width: 561px; height: 389px;"
                >
                </div>
            </li>
            <!--Slide 12 -->
            <li data-transition="fade" 
            data-slotamount="7" 
            data-masterspeed="300" 
            data-saveperformance="off">
                <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined">
                    <img class="tp-bgimg defaultimg" 
                    data-lazyload="undefined" 
                    data-bgfit="cover" 
                    data-bgposition="center top" 
                    data-bgrepeat="no-repeat" 
                    data-lazydone="undefined" 
                    [src]="slide2" data-src={{slide2}} 
                    style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; 
                    background-image: url('{{slide2}}'); background-size: cover; 
                    background-position: center top; width: 100%; height: 100%; opacity: 1; visibility: inherit;">
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption btn02 sft tp-resizeme" data-x="center" data-hoffset="-450" data-y="center" data-voffset="-50" data-speed="300" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><img src="../../../assets/images/img/la-banque-qui-vous-reflete.png">
                </div>
            </li>
            <!--Slide 7 -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                <img [src]="slide3" 
                alt="slider_1" 
                data-bgposition="center top" 
                data-bgfit="cover" 
                data-bgrepeat="no-repeat">
                <!-- LAYER NR. 2 -->
                <div class="tp-caption btn02 sft tp-resizeme" data-x="center" data-hoffset="-200" data-y="center" data-voffset="-50" data-speed="300" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><img src="../../../assets/images/img/carte2.png">
                </div>
            </li>
            <!--Slide 10 -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                <img [src]="slide4" alt="slider_1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYER NR. 2 -->
                <div class="tp-caption btn02 sft tp-resizeme" data-x="center" data-hoffset="-200" data-y="center" data-voffset="-50" data-speed="300" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><img src="../../../assets/images/img/TextEpargneSmart.png">
                </div>
            </li>
            <!--Slide 11 -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                <img [src]="slide5" alt="slider_1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYER NR. 2 -->
                <div class="tp-caption btn02 sft tp-resizeme" data-x="-420" data-hoffset="-200" data-y="center" data-voffset="-50" data-speed="300" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><img src="../../../assets/images/img/TextAGBPro.png">
                </div>
            </li>




        </ul>
    </div>
</div>
<p>contenu slide1 = {{ slide1 }}</p>
