

<div class="tp-banner-container">
 
  
    <!-- Slider desktop -->
    <ng-container *ngIf="size == 3">
      <div class="fader tp-banner" #sliderRef style="max-height: 620px; width: 100%;">
      <div
        [ngStyle]="{'opacity': opacities[src1.id]}"
        class="fader__slide"
        *ngFor="let src1 of imagesDesktop; trackBy:identify"
        >
        <img class="bg-img" [src]="src1.img"/>

        <div id="textImageOuterDiv">
          <div *ngIf="src1.slide == 'Slide1' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide1' && img.device == 'desktop'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src1.slide == 'Slide2' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide2' && img.device == 'desktop'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src1.slide == 'Slide3' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide3' && img.device == 'desktop'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src1.slide == 'Slide4' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide4' && img.device == 'desktop'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src1.slide == 'Slide5' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide5' && img.device == 'desktop'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
        </div>
          
      

      </div>
      <svg
      [ngClass]="'arrow arrow--left ' + ( currentSlide === 0 ? 'arrow--disabled' : '')"
      (click)="slider.prev()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
      />
    </svg>
    <svg
      *ngIf="slider"
      [ngClass]="'arrow arrow--right ' + (slider.details().size - 1 === currentSlide ? 'arrow--disabled' : '')"
      (click)="slider.next()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>
  </div>
    </ng-container>
    <!-- Fin Slider desktop -->
    <!-- Slider tablette -->
    <ng-container *ngIf="size == 1 || size == 2">
      <div class="fader tp-banner" #sliderRef style="max-height: 459px; width: 100%;">
      <div
        [ngStyle]="{'opacity': opacities[src2.id]}"
        class="fader__slide"
        *ngFor="let src2 of imagesTablette; trackBy:identify"
        
        >
        <img class="bg-img" [src]="src2.img"/>

        <div id="textImageOuterDiv">
          <div *ngIf="src2.slide == 'Slide1' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide1' && img.device == 'tablette'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src2.slide == 'Slide2' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide2' && img.device == 'tablette'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src2.slide == 'Slide3' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide3' && img.device == 'tablette'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src2.slide == 'Slide4' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide4' && img.device == 'tablette'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src2.slide == 'Slide5' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide5' && img.device == 'tablette'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
        </div>
          
      

      </div>
      <svg
      [ngClass]="'arrow arrow--left ' + ( currentSlide === 0 ? 'arrow--disabled' : '')"
      (click)="slider.prev()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
      />
    </svg>
    <svg
      *ngIf="slider"
      [ngClass]="'arrow arrow--right ' + (slider.details().size - 1 === currentSlide ? 'arrow--disabled' : '')"
      (click)="slider.next()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>
  </div>
    </ng-container>
    <!-- Fin Slider tablette -->
    <!-- Slider mobile -->
    <ng-container *ngIf="size == 0">
      <div class="fader tp-banner" #sliderRef style="max-height: 200px; width: 100%;">
      <div
        [ngStyle]="{'opacity': opacities[src3.id]}"
        class="fader__slide"
        *ngFor="let src3 of imagesMobile; trackBy:identify"
        >
        <img class="bg-img" [src]="src3"/>

        <div id="textImageOuterDiv">
          <div *ngIf="src3.slide == 'Slide1' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide1' && img.device == 'mobile'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src3.slide == 'Slide2' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide2'  && img.device == 'mobile'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src3.slide == 'Slide3' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide3' && img.device == 'mobile'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src3.slide == 'Slide4' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide4' && img.device == 'mobile'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
          <div *ngIf="src3.slide == 'Slide5' && imgTxtObs | async as imgtxts">
            <div *ngFor="let img of imgtxts">
              <div *ngIf="img.slideName == 'Slide5' && img.device == 'mobile'" class="img-container" [ngStyle]="{'position': 'relative', 'left': (img.positionX*1.2) + 'px', 'top': (img.positionY*1.9) + 'px'}">
                <img  [src]="ImagePath(img.imageTextPath)">
              </div>
            </div>
          </div>
        </div>
          
      

      </div>
      <svg
      [ngClass]="'arrow arrow--left ' + ( currentSlide === 0 ? 'arrow--disabled' : '')"
      (click)="slider.prev()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
      />
    </svg>
    <svg
      *ngIf="slider"
      [ngClass]="'arrow arrow--right ' + (slider.details().size - 1 === currentSlide ? 'arrow--disabled' : '')"
      (click)="slider.next()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>
  </div>
    </ng-container>
    <!-- Fin Slider mobile -->

      
    </div>
    <!-- slider navigation -->
    <div class="dots">
      <button
        (click)="slider.moveToSlideRelative(i)"
        *ngFor="let slide of dotHelper; let i = index"
        [class]="'dot ' + (i === currentSlide ? 'active' : '')"
      ></button>
    </div>
  


<br>
<br>
<br>
<br>



<br>
<br>
<br>
<br>
<br>


<app-size-detector></app-size-detector>