<mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
  
        <h3 style="padding: 15px; padding-bottom: 0; font-weight: bold;">Modification Popup Accueil</h3>
        <a mat-list-item [routerLink]="'modifier-popup-yt-video'"> Ajoutez une video Youtube </a>
        <a mat-list-item [routerLink]="'modifier-popup-image'"> Ajoutez une image </a>
        <a mat-list-item [routerLink]="'modifier-popup-video'"> Ajoutez votre propre video </a>
        
        
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
