<div class="example-boundary"  [ngStyle]="{'background-image': 'url('+ dataText +')'}">
    <div class="example-box" cdkDragBoundary=".example-boundary" (cdkDragEnded)="onDragEnded($event)" cdkDrag>
      <br>
      <div class="form-group">
        <mat-form-field>
            <ngx-mat-file-input placeholder="Chargez votre image" name="image" [accept]="'.jpg, .png, .jpeg'"></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
        <div class="form-group">
          <button mat-raised-button color="primary" (click)="onSubmitUpload()">Envoyer</button>
      </div>
      </div>
    </div>
</div>