<div class="example-boundary"  [ngStyle]="{'background-image': 'url('+dataText.path+')'}">
    

          <div *ngIf="getDesiredImageText(dataText.slide) == null; then contenu_bon else contenu_pas_bon"></div>
            <ng-template #contenu_bon>
              <div class="example-box" 
                    cdkDragBoundary=".example-boundary" 
                    (cdkDragEnded)="onDragEnded($event)" cdkDrag>
              <p>
              Veuillez charger une image
              </p>
              </div>
            </ng-template>
            <ng-template #contenu_pas_bon>
              <div class="example-box" [ngStyle]="{'background': 'url('+ ImagePath(getDesiredImageText(dataText.slide).imageTextPath) +')'}" 
                cdkDragBoundary=".example-boundary" 
                (cdkDragEnded)="onDragEnded($event)"
                [cdkDragFreeDragPosition]="{x: getDesiredImageText(dataText.slide).positionX, y: getDesiredImageText(dataText.slide).positionY}"
                cdkDrag>
              </div>
            </ng-template>
          
          
</div>

<br><br>
<div id="container-popBtn">
  <div class="row" id="popupBtn">
    <div class="form-group col-md-4 external-btn">
      <mat-form-field class="col-md-7">
          <ngx-mat-file-input placeholder="Chargez votre image" name="image" (change)="fileProgress($event)" [accept]="'.jpg, .png, .jpeg'"></ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
      </mat-form-field>
      <div class="form-group col-md-3">
        <button mat-raised-button color="primary" (click)="onSubmitUpload(dataText.slide)">Envoyer</button>
    </div>
    </div>
    
    <!--<div class="col-md-2 external-btn">
      <button mat-raised-button color="accent" (click)="activateDragDrop()">Positionner</button>
    </div>-->
    <div class="col-md-2 external-btn">
      <button mat-raised-button color="warn" (click)="supprimerImageText(getDesiredImageText(dataText.slide).id, dataText.slide)">Supprimer Image</button>
    </div>
    <div class="col-md-2 external-btn">
      <button mat-raised-button color="accent" (click)="onSubmitPosition({Image: null, PosX: posX, PosY: posY, NumSlide: dataText.slide})" [disabled]="!validate">Enregistrer</button>
    </div>
  </div>
  
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close style="background: rgb(233, 232, 232);">Fermer</button>
  </div>
</div>

