
  <div class="container" style="width: 80%;">

      <div class="row" *ngIf="images != null && images.length > 0" id="content">
        <div class="col-md-12">
        <h1>Choisissez le slide dans le quel vous voulez insérer du texte</h1>
        <br>
                    <mat-grid-list cols="5" rowHeight="2:3">
                        <mat-grid-tile id="modSlideGridTile" *ngFor="let image of images, index as i">
      
                         <mat-card class="slide-card">
                            <mat-card-title>Slide {{i+1}}</mat-card-title>
                            <img mat-card-lg-image mat-card-md-image mat-card-sm-image [src]="image.path">
                            
                            <mat-card-actions id="matBoutons" [align]="'start'">                                     
                                <button mat-raised-button color="accent" (click)="openDialog(image.path, 'Slide' + (i+1))">Selectionner</button>
                                                      
                            </mat-card-actions>
                          </mat-card>
                         </mat-grid-tile>
                    </mat-grid-list>
        </div>
  </div>
    
      
      
    
  </div>  


  
