<mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
  
        <h3 style="padding: 15px; padding-bottom: 0; font-weight: bold;">Modification Slider</h3>
        <a mat-list-item [routerLink]="'modifier-slider'"> Modifier les images </a>
        <a mat-list-item [routerLink]="'modifier-texte-slider'"> Modifier le texte </a>
        
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>